body {
    background-color: #fafafa;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 15vh;

    background-image: url("https://images2.alphacoders.com/608/thumb-1920-608317.png");
    background-position: bottom;
}

.store-name-title {
    position: absolute;
    pointer-events: none;
    text-shadow: 2px 2px 2px black;
    color: white;
}

.contact-section {
    margin-left: 5.5rem;
}

.separator {
    background-color: rgba(0, 0, 0, 0.2);
    width: 90vw;
    height: 0.2rem;
    margin-top: 2rem;
}

.whats-link {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.item-list {
    width: 100vw;
    height: 80vh;
}

.item-list-title {
    font-weight: 300;
    margin-left: 5.5rem;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5.5rem;
    width: 90vw;
    height: 70vh;
}

.item span {
    margin-bottom: 1rem;
    font-size: 12px;
    color: white;
}

.item button {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: yellow;
    font-weight: bold;
}

.item a {
    color: #111;
    text-decoration: none;
}

.item {
    display: grid;
    max-width: 12rem;
    background-color: #111;
    padding: 0.5rem;
    margin: 0.5rem;

    min-height: 17rem;
    max-height: 17rem;

    animation: title-anim 0.3s;
    -o-animation: title-anim 0.3s;
    -moz-animation: title-anim 0.3s;
    -webkit-animation: title-anim 0.3s;

}

.view-counter {
    margin-top: 1rem;
}

.item-img {
    width: 10rem;
}

.lore-img {
    width: 30rem;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #111;

    color: white;
    height: 2.7vh;
}

footer a {
    margin-left: 0.5rem;
}

.search-div {
    margin-left: 6rem;
    margin-bottom: 0.5rem;
}

.search-div span {
    font-size: 13px;
    font-weight: bold;
}

.search-div input {
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

@keyframes title-anim {
    from { transform: scale(0.1);}
    to {transform: scale(1.0);}
}
@-o-keyframes title-anim {
    from { transform: scale(0.1);}
    to {transform: scale(1.0);}
}
@-moz-keyframes title-anim {
    from { transform: scale(0.1);}
    to {transform: scale(1.0);}
}
@-webkit-keyframes title-anim {
    from { transform: scale(0.1);}
    to {transform: scale(1.0);}
}